*{
    font-family: 'Merriweather', serif;
}
/* header section style */
.header{
    margin: 0;
    padding: 0;
}
.banner{
    position: relative;
    display: flex;
    width: 1320px;
    height: 600px;
    border-radius: 16px;
    text-align: center;
}
.banner-style{
    color: #FFF;
    display: block;
    position: absolute; 
    background: linear-gradient(180deg, #070211 0%, rgba(7, 2, 17, 0.00) 100%);
}
.banner-gretting{
    color: #ffffff;
    text-align: center;
    font-size: 32px;
     padding-top: 100px;
}
.banner-title{
    color: #FFF;
    text-align: center;
    font-size: 72px;
    font-weight: 900;
    width: 632px;
    padding: 0 340px;
}
.discount{
    text-align: center;
}
.discount h1{
    color: #F00;
    font-family: Inter;
    font-size: 88px;
    font-weight: 700;
}
.discount h6{
    color: #F00;
    font-family: Inter;
    font-size: 24px;
    font-weight: 500;
    margin-top: 50px;
    margin-bottom: 10px;
}
.discount h3{
    color: #000;
    font-family: Inter;
    font-size: 48px;
    font-weight: 700;
     
}
.new-year{
    width: 800px;
    height: 500px;
}
.mid-night-party{
    margin-top: 120px;
}
.mid-night-party{
    width: 1320px;
    height: 600px;
    position: relative;
    display: flex;
}
.mid-night{
    position: absolute;
    display: block;
}
.party{
     position: absolute;
     display: flex;
     margin-left: 860px;
     margin-top: 70px;
}
.mid-night h1{
    color: #FFF;
    font-size: 64px;
    font-weight: 900;
    margin-top: 125px;
    margin-left: 125px;
    margin-right: 550px;
}
.mid-night p{
    color: rgba(255, 255, 255, 0.8);
    font-family: Inter;
    font-size: 18px;
    margin-left: 125px;
    margin-right: 500px;
}
.btn{
    margin-left: 125px;
    color: #FFF;
    text-align: center;
    font-family: Inter;
    font-size: 20px;
    font-weight: 700;
    text-transform: uppercase;
    border: 0px;
    border-radius: 5px;
    padding: 8px 10px;
    background-color: rgb(214, 61, 6);
    cursor: pointer;
}
.btn:hover{
    background-color: transparent;
}
.info-container{
    width: 1320px;
    height: 482px;
    margin-top: 120px;
    padding: 100px 0;
    text-align: center;
    border-radius: 16px;
    background-image: linear-gradient(180deg, rgba(255, 0, 0, 0.10) 0%, rgba(255, 0, 0, 0.00) 100%);
}
.time{
    color: #F00;
    text-align: center;
    font-family: Inter;
    font-size: 32px;
    font-weight: 600;
    text-transform: capitalize;
}
.info{
    color: #070211;
    font-family: Inter;
    font-size: 32px;
    font-weight: 600;
    text-transform: capitalize;
}
.offer-description{
     display: flex;
     gap: 20px;
}
.offers{
    padding-left: 40px;
    padding-right: 140px;
}
.new-offer{
    color: #F00;
    font-family: Inter;
    font-size: 24px;
    font-weight: 500;
}
.new{
    color: #070211;
    font-size: 48px;
    font-weight: 900;
    text-transform: capitalize;
}
.description{
    color: rgba(7, 2, 17, 0.60);
    font-family: Inter;
    font-size: 20px;
}
.date{
    color: #F00;
    font-family: Inter;
    font-size: 48px;
    font-weight: 700;
}
.holyday-offer{
    margin-top: 100px;
}
.functional{
    color: #070211;
    font-family: Inter;
    font-size: 24px;
    font-weight: 500;
    text-align: center;
}
.sale{
    color: #F00;
    text-align: center;
    font-size: 72px;
    font-weight: 900;
}
.holyday{
    color: #070211;
    text-align: center;
    font-size: 72px;
    font-weight: 900;
    margin-top: 20px;
}
.p1{
    color: rgba(7, 2, 17, 0.60);
    text-align: center;
    font-family: Inter;
    font-size: 20px;
    font-weight: 500;
    padding: 0 260px;
 
}
.image{
     width: 100%;
     display: flex;
     position: relative;
}
.image1{
    width: 50%;
}
.image2{
    width: 206.841px;
    height: 206.841px;
}
.image3{
    width: 429px;
    height: 433px;
}
.our-portfolio{
     margin: auto;
}
.our-portfolio h6{
    color: #F00;
    font-family: Inter;
    font-size: 24px;
    font-weight: 500;
}
.our-portfolio h1{
    color: #070211;
    font-size: 48px;
    font-weight: 900;
    text-transform: capitalize;
}
.p2{
    width: 896px;
    color: rgba(7, 2, 17, 0.60);
    font-family: Inter;
    font-size: 20px;
}
.mail{
    width: 1320px;
    height: 616px;
    text-align: center;
    background-color: #FF00000D;
    margin: 100px 0;
    border-radius: 16px;
}
.mail-pic{
    padding-top: 80px;
}
.mail h1{
    color: #070211;
    text-align: center;
    font-size: 48px;
    font-weight: 900;
    text-transform: capitalize;
}
.p3{
    color: rgba(7, 2, 17, 0.60);
    text-align: center;
    font-family: Inter;
    font-size: 20px;
    padding: 0 230px;
}
.searchbox{
    margin: 40px 0;
}
.searchbox input{
    padding: 20px 200px 20px 20px;
    border-radius: 10px;
}
.searchbox label{
     color: #FFF;
     background-color: rgb(255, 0, 0);
     padding: 20px 20px;
     border-radius: 10px;
}
footer{
    background-color: #070211;
    color: #ffffff;
    align-items: center;
   font-family: Inter;
}
.footer-section1{
    display: flex;
    justify-content: space-between;
    padding: 20px 140px;
    align-items: center; 
} 
.footer-section1 ul li{
     list-style: none; 
     padding: 3px 0;
}
.footer-section1 ul li .img1{ 
      padding-right: 5px;
}
.footer-section2{
    display: flex;
    justify-content: space-between;
    padding: 20px 140px;
}
.social-link{  
    text-align: center;
    margin: 20px 0;
} 
footer hr{
    width: 80%;
    height: 1px;
    background: rgba(255, 255, 255, 0.15);
    border: 0px;
}